$color-primary: #92c7ae;
$color-green: #92c7ae;
$color-beige: #F0BB85;
$color-purple: #BFA6CB;
$color-dark: #000;
$color-medium: #EFF0EC;
$color-light: #FFF;

$ease: cubic-bezier(0.22, 1, 0.36, 1);

$font-primary: 'Space Mono', sans-serif;
$font-secondary: 'Montserrat', sans-serif;