.c-archive {
  padding: 2.75rem 1.375rem;
  @include breakpoint(medium) {
    padding: 2.125rem;
  }
  @include breakpoint(medium_large) {
    padding: 4.25rem;
  }
  // & > * + * {
  //   margin-top: 2.875rem;
  // }
  // & > * + h3 {
  //   margin-top: 0;
  // }
  // & h2 {
  //   margin-bottom: 1em;
  //   font-size: 2.8125rem;
  //   line-height: 1.022em;
  //   & strong {
  //     font-weight: 400;
  //   }
  // }
  // & h3 {
  //   font-weight: 600;
  //   font-size: 1.125rem;
  // }
  & a {
    font-weight: 600;
    color: #000;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
  &__page-title {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.4375rem;
    @include breakpoint(medium_large) {
      font-size: 2.8125rem;
      font-weight: 400;
      line-height: 1.022em;
    }
  }
  &__section-title {
    margin: 2.875rem 0;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.4375rem;
    @include breakpoint(medium_large) {
      font-size: 2.8125rem;
      font-weight: 400;
      line-height: 1.022em;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    & span {
      display: none;
      margin: 0 0.5em;
    }
    @include breakpoint(medium) {
      display: flex;
      flex-direction: row;
      & span {
        display: inline-block;
      }
    }
    & > *, & > * > * {
      font-weight: 400;
      font-size: .875rem!important;
      line-height: 1.333;
      text-transform: uppercase;
      @include breakpoint(medium) {
        font-size: 1rem!important;
      }
      @include breakpoint(large) {
        font-size: 1.125rem!important;
      }
      @include breakpoint(wide) {
        font-size: 1.375rem;
      }
    }
    & + * {
      margin-top: 0.75em;
    }
  }
}