.c-footer {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  background-color: $color-dark;
  color: $color-green;
  text-transform: uppercase;
  &__navigation-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8.75rem;
    list-style: none;
  }
  &__navigation-item {
    margin-left: 2.5rem;
  }
  &__navigation-link {
    color: $color-green;
    font-size: 1.375rem;
    line-height: 1.181em;
    text-decoration: none;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    font-size: .875rem;
    line-height: 1.214em;
  }
  &__imprint {
    font-size: .875rem;
    line-height: 1.214em;
  }
}