.c-language-selector {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 6vw;
  line-height: 1.181em;
  color: $color-green;
  & > * + * {
    margin-left: .875em;
  }
  @include breakpoint(medium) {
    padding: 0 2.272em;
    font-size: 1rem;
  }
  @include breakpoint(medium_large) {
    font-size: 1.25rem;
  }
  @include breakpoint(large) {
    font-size: 1.375rem;
  }
  &--alt {
    &::after {
      content: none!important;
    }
  }
  &__list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    & .lang-item {
      position: relative;
      & + * {
        margin-left: .875em;
      }
      &.current-lang {
        &::after {
          content: '';
          position: absolute;
          bottom: -0.2em;
          left: 50%;
          width: 50%;
          height: 0.125em;
          transform: translateX(-50%);
          background: $color-green;
        }
      }
    }
  }
  a {
    position: relative;
    text-decoration: none;
    color: $color-green!important;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
  }
  &::after {
    z-index: 1;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-color: $color-green;
    color: #000;
    font-size: 3.854166666666667vw;
    @include breakpoint(medium) {
      content: "AKT";
      font-size: 2.5vw;
      padding: 0.75em;
    }
    @include breakpoint(large) {
      font-size: 2vw;
      padding: 0.75em;
    }
    @include breakpoint(wide) {
      font-size: 3vw;
    }
  }
}