.c-social-links {
  display: flex;
  align-items: center;
  // padding: 2rem 0;
  @include breakpoint(medium) {
    margin: 0 2.125rem 0 0;
  }
  @include breakpoint(medium_large) {
    margin: 0 2.125rem;
  }
  @include breakpoint(large) {
    margin: 0 4.25rem;
  }
  & > * + * {
    margin-left: 1rem;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    max-height: 1.25rem;

    width: 1rem;
    height: 1rem;
    @include breakpoint(large) {
      width: 1.5rem;
      height: 2rem;
    }
    &:first-child {
      & img {
        @include breakpoint(large) {
          max-height: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
  
  &__icon {
    max-height: 1.25rem;
    width: 100%;
    height: 100%;
    @include breakpoint(medium_large) {
      max-height: 1.25rem;
      height: auto;
    }
  }
}